HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ========================
# LOGS
# ========================
*.log

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# SPRING CONFIG (SENSÍVEL)
# ========================
application-dev.properties
application-test.properties
application-prod.properties

# ========================
# ENV FILES
# ========================
.env
.env.*

# ========================
# DATABASE (H2 / LOCAL)
# ========================
*.mv.db
*.trace.db

# ========================
# TEMP FILES
# ========================
*.tmp
*.swp